[submodule "detection/darknet"]
	path = detection/darknet
	url = git@github.com:yuantailing/darknet.git
	branch = chinese
[submodule "cppapi/rapidjson"]
	path = cppapi/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "ssd/caffe"]
	path = ssd/caffe
	url = git@github.com:weiliu89/caffe.git
	branch = ssd
