[submodule "detection/darknet"]
	path = detection/darknet
	url = git@github.com:yuantailing/darknet.git
	branch = chinese
[submodule "cppapi/rapidjson"]
	path = cppapi/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "codalab/jschannel"]
	path = codalab/jschannel
	url = git@github.com:mozilla/jschannel.git
